.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0px;
    background-color: rgb(17, 16, 16);
    border-bottom: 1px solid rgb(70, 67, 67);
  }
  
  .left {
    display: flex;
    flex-direction: column;
    padding: 30px 0px;
    margin: 0px;
    gap: 5px;
  }
  
  .left p,
  .left h3 {
    margin: 0px;
    color: white;
  }
  
  .left p {
    font-size: 1.2rem;
  }
  
  .left h1 {
    max-width: 350px;
    background: linear-gradient(to right, #8eff6b, #35eaf7, rgb(189, 185, 185));
    background-clip: text; /* Apply gradient to text */
    -webkit-background-clip: text; /* For Safari */
    -webkit-text-fill-color: transparent; /* Hide original text color */
  }
  
  .about {
    max-width: 600px;
    text-align: justify;
    text-indent: 50px;
    font-size: 1.2rem;
    color: #555; /* Dark gray */
  }

  .type{
    display: flex;
    height: 30px;
    align-items: center;
  }

  
  
  .buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    
    
  }
  
  .buttons button {
    cursor: pointer;
    border: 1px solid rgb(1, 114, 148);
    background-color: transparent;
    color: rgb(255, 255, 255);
    padding: 10px 27px;
    font-size: 1.3rem;
    border-radius: 25px;
    position: relative;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    
  }



  .hirebtn{
    background-image: linear-gradient(to right, rgb(1, 114, 148), rgb(1, 114, 148));
    background-size: 100% 100%;
    transition: 0.4s;
    background-repeat: no-repeat;
    border: hidden;
    box-shadow: none;
  }

  .hirebtn:hover{
  background-size: 0% 100%;
  border: 1px solid rgb(1, 114, 148);
  box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);

  }

  .resume{
    background-image: linear-gradient(to right, rgb(1, 114, 148), rgb(1, 114, 148));
    background-size: 0% 100%;
    transition: 0.4s;
    background-repeat: no-repeat;
    border: none;
    box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);

  }

  .resume:hover{
  background-size: 100% 100%;
  border: hidden;
  box-shadow: none;
  }
  
  .resume {
    display: flex;
    align-items: center;
    gap: 3px;
  }
  
  .buttons svg {
    width: 30px;
    height: 22px;
  }
  
  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .circularImage {
    border-radius: 50%;
    width: 250px; /* Adjust size as needed */
    height: 250px; /* Adjust size as needed */
    animation: floatAnimation 2s ease-in-out infinite alternate;
    border: 5px solid white; /* Add border */
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5); /* Add shadow */
  }
  
  @keyframes floatAnimation {
    0% {
      transform: translateY(0); /* Start at original position */
    }
    100% {
      transform: translateY(-20px); /* Move up */
    }
  }



@media screen and (max-width: 1024px) {
      
.hero {
  padding: 40px 0px;
  
}

.left p {
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

.left h1 {
  max-width: 300px;
  font-size: 1.8rem;
}

.about {
  max-width: 500px;
}

.buttons button {
  padding: 8px 20px;
  font-size: 1.1rem;
  border-radius: 20px;
  height: 40px;

}


.resume {
  gap: 2px;
}

.buttons svg {
  width: 25px;
  height: 20px;
}

.circularImage {
  width: 250px; 
  height: 250px;  
  box-shadow: 0px 0px 13px rgba(255, 255, 255, 0.5); /* Add shadow */
}
}




@media screen and (max-width: 768px) {
      
  .hero {
    padding: 20px 0px;
    flex-direction: column-reverse;
    padding-top: 55px;
    
  }

  .left{
    padding: auto 10px;
  }
  
  .left p {
    font-size: 1.03rem;
  }
  
  .left h1 {
    max-width: 300px;
    font-size: 1.6rem;
  }
  
  .about {
    max-width: 500px;
  }
  
  .buttons button {
    padding: 5px 13px;
    font-size: 1.05rem;
    border-radius: 7px;
    letter-spacing: 0.8px;
    height: 35px;
  }
  
  .buttons svg {
    width: 20px;
    height: 18px;
  }
  
  .circularImage {
    width: 220px; 
    height: 220px;  
    box-shadow: 0px 0px 13px rgba(255, 255, 255, 0.5); /* Add shadow */
  }
  }



  
  @media screen and (max-width: 500px) {
    .hero {
      flex-direction: column-reverse;
      padding: 40px 0px;
      padding-top: 55px;
    }
  
    .left {
      display: flex;
      flex-direction: column;
      padding: 30px 20px;
      margin: 0px;
      gap: 5px;
    }
  
    .left p,
    .left h3 {
      margin: 0px;
    }
  
    .left p {
      font-size: 0.95rem;
    }
  
    .about {
      text-indent: 50px;
    }
  
    .buttons {
      display: flex;
      justify-content: space-evenly;
    }
  
    .buttons button {
      padding: 7px 17px;
      font-size: 1.05rem;
      height: 37px;
      
      
      
    }
  
    .circularImage {
      max-width: 200px;
      max-height: 200px;
      box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.5); /* Add shadow */

    }

    .hirebtn:hover{
      box-shadow: 0px 2px 8px rgba(255, 255, 255, 0.2);

    }
    

    .resume {
      gap: 4px;
      box-shadow: 0px 2px 8px rgba(255, 255, 255, 0.2);

    }
  }
  