.skills{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 60px 0px;
    background-color: rgb(17, 16, 16);
    color: white;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.icons{
    padding: 0px 10px;
    padding-top: 55px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    gap: 40px;
    max-width: 900px;
    

}

.icondiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.icondiv svg{
    border-radius: 20%;
    padding: 10px;
    width: 100px;
    height: 100px;
    background-color: rgb(68, 66, 66);
    cursor: pointer;
}
 


@media screen and (max-width:1024px) {
    
    .icons{
        padding-top: 45px;
        gap: 30px;
    }
    
    .icondiv{
    }
    
    .icondiv svg{
        border-radius: 17%;
        width: 80px;
        height: 80px;
    }

}


@media screen and (max-width:768px) {
    .skills{
        padding: 40px 0px;
    }

    .skills h1{
        font-size: 1.7rem;
    }
    
    .icons{
        padding-top: 40px;
        gap: 25px;
        
    
    }
    
    .icondiv svg{
        border-radius: 15%;
        width: 70px;
        height: 70px;
    }

}

    

@media screen and (max-width:500px) {

    .skills h1{
        font-size: 1.5rem;
    }
    
    .icons{
        padding: 0px 10px;
        padding-top: 30px;
        gap: 0px;
        max-width: 500px;
        justify-content: space-evenly;  
        row-gap: 40px;  
    } 
    
    .icondiv{
        gap: 5px;
        margin-bottom: 4px;
        width: 100px;
    }
    
    .icondiv svg{
        border-radius: 20%;
        padding: 8px;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        
    } 

    .icondiv p{
        font-size: 0.95rem;
    }
    
}


